name: Build and Push Postgres (pgvector + PostGIS)

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/pgvector-postgis:pg16
            ghcr.io/${{ github.repository_owner }}/pgvector-postgis:latest
          platforms: linux/amd64

      - name: Build & Push turbo
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile.turbo
          push: true
          platforms: linux/amd64
          tags: |
            ghcr.io/${{ github.repository_owner }}/pgvector-postgis:pg16-turbo
            ghcr.io/${{ github.repository_owner }}/pgvector-postgis:latest-turbo

